.login {
    display: flex;
    width: 40%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(
        0, 0, 0, 0.2);
    border-radius: 5px;
}


.login-cnt {
    margin: 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
}


.login-cnt button {
    color: #fff
}